<div class="home-page">
  <h1>Angular Projects</h1>

  <h2>Frontend Mentor</h2>
  <ul>
    <li><a routerLink="/profile-card">Profile card component</a></li>
    <li><a routerLink="/four-card-feature"> Four card feature section</a></li>
    <li><a routerLink="/social-proof">Social proof section</a></li>
    <li><a routerLink="/single-price-grid">Single price grid component</a></li>
    <li>
      <a routerLink="/huddle-single"
        >Huddle landing page with a single introductory section</a
      >
    </li>
    <li><a routerLink="/testimonials-grid">Testimonials grid section</a></li>
    <li><a routerLink="/fylo-data-storage">Fylo data storage component</a></li>
    <li><a routerLink="/clipboard-landing">Clipboard landing page</a></li>
    <li>
      <a routerLink="/huddle-alternate-feature"
        >Huddle landing page with alternating feature blocks</a
      >
    </li>
    <li><a routerLink="/fylo-dark">Fylo dark theme landing page</a></li>
    <li>
      <a routerLink="/fylo-two-column"
        >Fylo landing page with two column layout</a
      >
    </li>
    <li>
      <a routerLink="/huddle-curved"
        >Huddle landing page with curved sections</a
      >
    </li>
    <li><a routerLink="/chat-app-css">Chat app CSS Illustration</a></li>
  </ul>
</div>
